.productCard {
    background-color: var(--oil-black);
    border-radius: 10px;
    padding: 3rem 3rem 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 35rem;
    border: 1px solid transparent;
}

.productCard:hover {
    background-color: var(--oil-black-darker);
    border: 1px solid var(--white);
    transition: .4s ease;
}

.productCard > h3 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 800;
    color: var(--white);
    font-size: 1.6rem;
}

.productCard > .subline {
    border: 1px solid var(--ghostwhite);
}

.informations {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.informations > p {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    color: var(--white);
    font-size: 1.6rem;
    margin-left: 0;
}

.cardDeleteButton {
    margin-top: .5rem;
}