.finish {
    /* margin-left: 2rem;
    margin-top: 2rem; */
    padding: 1rem 5rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    border: none;
    color: var(--black);
    background-color: var(--purple-600);
    font-weight: 800;
}

.finish:hover {
    background-color: var(--purple-400);
    cursor: pointer;
}

.cancel {
    padding: 1rem 5rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    border: none;
    color: var(--black);
    background-color: var(--cancel);
    font-weight: 800;
}

.cancel:hover {
    background-color: var(--cancel-darker);
    cursor: pointer;
}