.headerApp {
    display: flex;
    justify-content: center;
    background-color: var(--black);
}

header {
    padding: 3.2rem 3rem;
    display: flex;
    align-items: center;
    width: 1200px;
    justify-content: space-between;
}

.navs {
    display: flex;
    align-items: center;
    gap: 10rem;
}

.title {
    font-size: 3.2rem;
    color: var(--purple-400);
    font-weight: 800;
}

.title:hover {
    color: var(--purple-600);
    transition: .2s ease;
}

.navs > nav {
    display: flex;
    gap: 6rem;
}

.navs > nav > a {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--white);
}

.navs > nav > a:hover {
    color: var(--purple-400);
    transition: .2s ease;
}

header:hover,
footer:hover,
th:hover,
td:hover{
    cursor: default;
}