@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url("../css/global.css");

.content {
    display: flex;
    padding: 8rem 4rem;
    gap: 8rem;
    justify-content: center;
    background-color: var(--ghostwhite);
}

.category {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#categoryName,
#tax,
#categoryButton {
    padding: 1.5rem 2.5rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    outline: none;
    border-width: 1px;
    border-color: var(--oil-black);
    font-weight: 600;
}

#categoryName {
    width: 100%;
}

#tax {
    width: 100%;
}

#categoryButton {
    grid-area: button;

    border: none;
    color: var(--oil-black);
    background-color: var(--purple-300);
    font-weight: 700;
}

#categoryButton:hover {
    background-color: var(--purple-100);
    cursor: pointer;
}

.line {
    background-color: var(--oil-black);
    width: 1px;
}

.categoryTable {
    display: flex;
    flex-direction: column;
}

table {
    border-collapse: collapse;    
}

th, td {
    border: 1px solid var(--oil-black);
    text-align: left;
}

th {
    border-top: none;
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
}

td {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
}

.thCode {
    border-left: none;
}

.tdButton {
    padding: .8rem 1.8rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    border: none;
    color: var(--oil-black);
    background-color: var(--purple-300);
    font-weight: 700;
}

.tdButton:hover {
    background-color: var(--purple-100);
    cursor: pointer;
}

.firstTd {
    border-left: none;
}

.lastTd {
    border-right: none;
}

.firstEmptyTd {
    border-bottom: none;
    border-left: none;
}

.emptyTd {
    border-bottom: none;
}

.lastEmptyTd {
    border-bottom: none;
    border-right: none;
}

.lastTdButton {
    visibility: hidden;
}

