@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url("../css/global.css");

.content {
    display: flex;
    flex-direction: column;
    padding: 6rem 4rem;
    gap: 4rem;
    justify-content: center;
    background-color: var(--ghostwhite);
}

.content > h3 {
    font-size: 2rem;
    color: var(--purple-600);
}

table {
    border-collapse: collapse;    
}

th, td {
    border: 1px solid var(--oil-black);
    text-align: left;
}

th {
    border-top: none;
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
}

td {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
}

#th-code {
    border-left: none;
}

#td-button {
    padding: .8rem 1.8rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    border: none;
    color: var(--oil-black);
    background-color: var(--purple-300);
    font-weight: 700;
    width: 100%;
}

#td-button:hover {
    background-color: var(--purple-100);
    cursor: pointer;
}

#first-td {
    border-left: none;
}

#last-td {
    border-right: none;
}

#first-empty-td {
    border-bottom: none;
    border-left: none;
}

#empty-td {
    border-bottom: none;
}

#last-empty-td {
    border-bottom: none;
    border-right: none;
}

#lastTdButton {
    visibility: hidden;
}