@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-family: 'Montserrat', sans-serif;
}
/* font-family: "Plus Jakarta Sans", sans-serif; */

:root {
  font-size: 62.5%;

  --purple-600: hsl(262, 83%, 58%);
  --purple-400: hsl(258, 90%, 66%);
  --purple-200: hsl(258, 83%, 69%);
  --ghostwhite: hsl(240, 7%, 78%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(240, 10%, 4%);
  --oil-black-darker: hwb(240 11% 89%);
  --oil-black: hsl(240, 6%, 17%);
  --cancel: hsl(240, 15%, 71%);
  --cancel-darker: hsl(240, 7%, 58%);
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: var(--oil-black);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--oil-black-darker);
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--black);
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* não selecionar */
p, button, h1, span, a, h3, img, th, td { 
  user-select: none;
}

.contentCard {
  background-color: var(--black);
  border-radius: 20px;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.select {
  padding: 1.5rem 2.5rem;
  border: 1px solid var(--white);
  background-color: var(--black);
  font-size: 1.5rem;
  border-radius: 10px;
  outline: none;
  color: var(--white);
  font-weight: 600;
  width: 100%;

  /* seta */
  appearance: none;
  background-image: url("./assets/arrow-down.png");
  background-repeat: no-repeat;
  background-position: right 1.5rem top 50%;
  background-size: 1.2rem auto;
}

.select:hover {
  border: 1px solid var(--purple-600);
}

.subtitle {
  display: flex;
  justify-content: center;
  align-self: center;
  width: fit-content;
}

.subtitle:hover {
  cursor: help;
  color: var(--white);
  transition: .2s ease;
}

table {
  color: var(--white);
  border-collapse: collapse;    
}

th, td {
  border: 2px solid var(--oil-black);
  text-align: left;
}

th {
  border-top: none;
  font-size: 2rem;
  padding: 1rem 1.5rem;
}

td {
  font-size: 1.6em;
  padding: 1rem 1.5rem;
}

.firstTd {
  border-left: none;
}

.lastTd {
  border-right: none;
  max-width: 6rem;
}