@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-family: 'Montserrat', sans-serif;
}
/* font-family: "Plus Jakarta Sans", sans-serif; */

:root {
  font-size: 62.5%;

  --purple-600: hsl(262, 83%, 58%);
  --purple-400: hsl(258, 90%, 66%);
  --purple-200: hsl(258, 83%, 69%);
  --ghostwhite: hsl(240, 7%, 78%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(240, 10%, 4%);
  --oil-black-darker: hwb(240 11% 89%);
  --oil-black: hsl(240, 6%, 17%);
  --cancel: hsl(240, 15%, 71%);
  --cancel-darker: hsl(240, 7%, 58%);
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: var(--oil-black);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--oil-black-darker);
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--black);
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* não selecionar */
p, button, h1, span, a { 
  user-select: none;
}