.categoriesApp {
    display: flex;
    justify-content: center;
    background-color: var(--oil-black);
}

main {
    display: flex;
    flex-direction: column;
    width: 1200px;
    gap: 6rem;
    margin: 5rem 0;
}

.catTableDiv {
    max-height: 51.5rem;
    overflow-y: auto;
}

#categoryTable {
    width: 98%;
}

::-webkit-scrollbar{
    width: 1rem;
}

::-webkit-scrollbar-track{
    background-color: var(--oil-black);
    border-radius: 1rem;
}
  
::-webkit-scrollbar-thumb{
    background-color: var(--oil-black-light);
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover{
    background-color: var(--oil-black-darker);
}

.thCode {
    border-left: none;
    width: 18%;
}

.thTax {
    width: 20%;
}