.historyApp {
    display: flex;
    justify-content: center;
    background-color: var(--oil-black);
}

main {
    display: flex;
    flex-direction: column;
    width: 1200px;
    gap: 6rem;
    margin: 5rem 0;
}

.historyTableDiv {
    max-height: 49rem;
    overflow-y: auto;
}

#historyTable {
    width: 98%;
}

::-webkit-scrollbar{
    width: 1rem;
}

::-webkit-scrollbar-track{
    background-color: var(--oil-black);
    border-radius: 1rem;
}
  
::-webkit-scrollbar-thumb{
    background-color: var(--oil-black-light);
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover{
    background-color: var(--oil-black-darker);
}

.thPurchaseCode {
    border-left: none;
    width: 20%;
}

.thTax {
    width: 15%;
}

.thTotal {
    width: 25%;
}

.thDate {
    width: 25%;
}

.lastTd {
    width: 15%;
}

/* resto dos styles na home.css */
.productCard {
    padding: 3rem;
}